body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

mainView {
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap;
}

#map {
  padding: 0;
  margin: 0;
}

.loginBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://www.omnihotels.com/-/media/images/hotels/gpirst/activities/gpirst-omni-grove-park-inn-great-smoky-mountain.jpg?h=660&la=en&w=1170);
}

.mainBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://www.omnihotels.com/-/media/images/hotels/gpirst/activities/gpirst-omni-grove-park-inn-great-smoky-mountain.jpg?h=660&la=en&w=1170);
}